.container {
  width: 100px;
  height: 35px;
  border: 2px solid var(--green);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.3s ease-in-out;
}

.container:hover {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.language {
  font-size: 20px;
}

.options {
  width: 100px;
  height: 35px;
  position: absolute;
  top: 70px;
  left: 58.7%;
  z-index: 100;
  border: 2px solid var(--green);
  border-radius: 10px;
  text-align: center;
  background: none;
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
